<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POC_LIST</key>
	<array>
		<dict>
			<key>POC_NAME</key>
			<string>GIT Hub Issues</string>
			<key>POC_STORYBOARD</key>
			<string>GITHUB_ISSUES</string>
			<key>POC_INFO</key>
			<string></string>
		</dict>
		<dict>
			<key>POC_NAME</key>
			<string>Localization</string>
			<key>POC_STORYBOARD</key>
			<string>GITHUB_ISSUES</string>
			<key>POC_INFO</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
